body {
  margin: 0;
  color: white;
}

marquee {
  font-size: 40px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  background-color: rgb(245, 245, 24);
}

section {
  text-align: center;
  height: 100vh;
  min-height: 1000px;
  background-size: cover;
  background-position: center;
  image-rendering: pixelated;
  padding-top: 20px;
}

h1 {
  font-size: 40px;
}

.space {
  background-image: url('assets/backgrounds/space.png');
}
.sky {
  background-image: url('assets/backgrounds/sky.png');
}
.mountain {
  background-image: url('assets/backgrounds/mountain.png');
}
.forest {
  background-image: url('assets/backgrounds/forest.png');
}
.cave {
  background-image: url('assets/backgrounds/cave.png');
}
.core {
  background-image: url('assets/backgrounds/core.png');
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

/* Hit Counter */
#hit-counter {
  display: inline-flex;
  gap: 5px;
  font-family: "Courier New", "Courier", monospace;
  color: #00ff00;
  font-size: 24px;
  letter-spacing: 2px;
}

#hit-counter span {
  display: inline-block;
  padding: 5px 10px;
  border: 2px solid #00ff00;
  background-color: black;
  border-radius: 2px;
  text-shadow: 1px 1px 2px #00cc00;
}

#hit-counter span:empty {
  display: none;
}

/* Alien */
.alien {
  position: absolute;
  right: 10px;
}

/* Webamp */
.webamp {
  transform: translateY(-20%);
  height: 100vh;
}

/* Links */
.sky ul {
  width: fit-content;
  margin: auto;
  padding: 0;
  list-style: none;
}

/* Guestbook */
.guestbook {
  margin: auto;
  font-size: 16px;
  background-color: gray;
}

table {
    border-collapse: collapse;
    width: 50%;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
}

.guestbook .name {
  color: #14ff00;
  font-style: bold;
  margin-right: 5px;
}

.guestbook .timestamp {
  color: #000000;
}

.pagination button {
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  outline: 1px solid #494a4f;
  border-radius: 1px;
  border: none;
}

.hidden {
  display: none;
}

.pagination button.active {
  background-color: #007bff;
  color: white;
}

/* Snake game */
#snake-game {
  text-align: center;
  margin: 50px 0 0 auto;
  font-family: "Courier New",monospace;
  color: rgb(255, 0, 0);
  position: relative;
  display: inline-block;
}

#snake-canvas {
  background:#000;
  border: 4px solid rgb(255, 0, 0);
  image-rendering: pixelated;
  box-shadow: 0 0 30px rgb(255, 0, 0);
}
#snake-score {
  font-size: 20px;
  margin: 10px;
}

@media (max-width: 420px) {
    #snake-canvas {
        width: 90%;
    }
}

/* Misc */
.misc-first-row {
  justify-self: center;
  grid-row: 1;
}
.misc-second-row {
  grid-row: 2;
}

.articles-i-recommend {
  color: black;
  background-color: white;
  width: 350px;
  border: solid 2px black;
  border-radius: 8px;
}

.articles-i-recommend ul li {
  text-align: left;
}

.gandalf-gif {
  grid-row: 3 !important;
  width: 90vw;
  height: 140px;
  justify-self: center;
}