body {
  margin: 0;
  color: white;
}

marquee {
  font-size: 40px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  background-color: rgb(245, 245, 24);
}

section {
  text-align: center;
  height: 100vh;
  min-height: 1000px;
  background-size: cover;
  background-position: center;
  image-rendering: pixelated;
  padding-top: 20px;
}

h1 {
  font-size: 28px;
}

.space {
  background-image: url('assets/backgrounds/space.png');
}
.sky {
  background-image: url('assets/backgrounds/sky.png');
}
.mountain {
  background-image: url('assets/backgrounds/mountain.png');
}
.forest {
  background-image: url('assets/backgrounds/forest.png');
}
.cave {
  background-image: url('assets/backgrounds/cave.png');
}
.core {
  background-image: url('assets/backgrounds/core.png');
}

/* Hit Counter */
#hit-counter {
  display: inline-flex;
  gap: 5px;
  font-family: "Courier New", "Courier", monospace;
  color: #00ff00;
  font-size: 24px;
  letter-spacing: 2px;
}

#hit-counter span {
  display: inline-block;
  padding: 5px 10px;
  border: 2px solid #00ff00;
  background-color: black;
  border-radius: 2px;
  text-shadow: 1px 1px 2px #00cc00;
}

#hit-counter span:empty {
  display: none;
}

/* Alien */
.alien {
  position: absolute;
  right: 10px;
}

/* Webamp */
.webamp {
  transform: translateY(-20%);
  height: 100vh;
}

/* Links */
.sky ul {
  width: fit-content;
  margin: auto;
  padding: 0;
  list-style: none;
}

/* Guestbook */
.guestbook {
  margin: auto;
  font-size: 16px;
  background-color: gray;
}

table {
    border-collapse: collapse;
    width: 50%;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
}

.guestbook .name {
  color: #14ff00;
  font-style: bold;
  margin-right: 5px;
}

.guestbook .timestamp {
  color: #000000;
}

.pagination button {
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  outline: 1px solid #494a4f;
  border-radius: 1px;
  border: none;
}

.hidden {
  display: none;
}

.pagination button.active {
  background-color: #007bff;
  color: white;
}